/*
1_Default_css
    1_1_Fix_img_fit_parent_div
2_Header
3_BANNER
4_Menu Mobile
5_MAIN
    5_1_Title
    5_2_block1
    5_3_block2
    5_4_block3
    5_5_Form ÄÄƒng kÃ½
6_Footer
8_TrangCon_1
    8_1_Thong-Tin-IONE
    8_2_Dang-Ky-Thong-Tin
    8_3_Loi-Ich-IONE
    8_4_UuDiemIONE
    8_5_LoiIchFSI
    8_6_KhachHang
    8_7_Policy
9_Menu Desktop
*/



/* 1_Default_css */
/* Font */
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Black.otf);
    font-weight: black;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: SanFranciscoDisplay;
    src: url(../fonts/SanFranciscoDisplay-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

html {  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

* { margin: 0; padding: 0;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; } 
/* End Font */
body {
    background:#fff;
    color:#222;
    font-size:13px; 
    font-family: MarkPro, "Helvetica Neue", Helvetica, sans-serif;
}

img { width: auto; height: auto; max-width: 100%;/* max-height:100%; */ vertical-align: middle;  }

 
:focus { outline: 0 !important; }
figure { margin: 0; padding: 0; } 
img[src*=".svg"] { height: 100%;  }
iframe { border: none; }

::selection {
    background: #AAF2E4; /* Safari */
    color: #333333;
}
::-moz-selection {
    background: #AAF2E4; /* Firefox */
    color: #333333;
}

p { margin-bottom: 10px; }
* > p:last-child { margin-bottom: 0 !important; }
p a:hover { border-color: transparent; }
a { text-decoration:none; color: inherit; }
a:hover, a:focus { text-decoration: none; } 
a,img{
    -webkit-transition: all ease .4s;
    -moz-transition:    all ease .4s;
    -ms-transition:     all ease .4s;
    -o-transition:      all ease .4s;
    transition:         all ease .4s;
}
h1 { line-height: 130%; }
h2 { font-size: 26px; line-height: 130%; }
h3 { font-size: 20px;  }
h4 { margin-bottom:8px;  font-size: 15px; font-weight:500;}
h5 { font-size: 14px; line-height: 160%; }
h6 { font-size: 12px; line-height: 160%; } 
ol { position: relative;  }
ul { list-style: none; }
h1,h2,h3,h4,h5,h6,ul{margin: 0}
.fl {float: left;}
.fr {float: right;}
.all {float: left;width: 100%;} 


a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}

.btn-group .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}
*, *::after, *::before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
* {
    padding: 0;
    margin: 0;
    outline: none !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
@charset "UTF-8";
.no-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-l {
    padding-left: 0px;
}
.no-padding-r {
    padding-right: 0px;
}
.no-padding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-padding {
    padding-bottom: 0;
}
.nopad{
    padding: 0 !important;
}


.fbold{
    font-weight: bold;
}
.theme_color{
    color: #ed1d24;
    /*color: rgba(237,29,36);*/

}
.text_white{
  color: #fff !important;
}
.text_link_black{
    color: #404040;
}

.text_link_black:hover{
    color: #ed1d24 ;
}


.dp_block  {
    display: block;
}
.dp_table{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.dp_table_cell{
    display: table-cell;
}
.va_mid{
    vertical-align: middle;
}
.text_italic {
    font-style: italic;
}

.fw_600{
    font-weight: 600;
}

.mb_50{
    margin-bottom: 50px !important;
}
.mb_45{
    margin-bottom: 45px !important;
}
.mb_40{
    margin-bottom: 40px !important;
}
.mb_35{
    margin-bottom: 35px !important;
}
.mb_30{
    margin-bottom: 30px !important;
}
.mb_25{
    margin-bottom: 25px !important;
}
.mb_20{
    margin-bottom: 20px !important;
}
.mb_15{
    margin-bottom: 15px !important;
}
.mb_10{
    margin-bottom: 10px !important;
}
.mb_5 {
    margin-bottom: 5px !important;
}
.mb_0 {
    margin-bottom: 0px !important;
}

.mr_35{
    margin: 35px 0;
}
.mr_30{
    margin: 30px 0;
}
.mr_25{
    margin: 25px 0;
}
.mr_20{
    margin: 20px 0;
}
.mr_15{
    margin: 15px 0;
}
.mr_10{
    margin: 10px 0;
}
.mr_5 {
    margin: 5px 0;
}
.mr_0{
    margin: 0;
}
.wth50 {
    width: 50px !important;
}
.pdr_15 {
    padding-right: 15px !important;
}

/*2.Header*/
.header-top {
    position: relative;
    z-index: 999;
    height: 60px;
    background: rgba(0,0,0,.7);
}
header .dropdown-submenu {
    position: relative;
}

header .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

header .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
header .navbar-nav > li > a {
    color: #eee;
}
header .navbar-nav > li > a:hover, header .navbar-nav > li > a:focus, header .navbar-nav > li > a:active {
    background: none !important;
    opacity: .7;
}
header .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

header .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

header .dropdown-submenu.pull-left {
    float: none;
}

header .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.col-md-2_ts {
    width: 120px;
    float: left;
    position: relative;
    z-index: 999;
}
.col-md-5_ts {
    position: relative;
    width: calc(50vw - 69px);
    float: left;
    margin-top: 5px;
}
.logo img {
    width: 100%
}
.col-md-5_ts-right {
    padding-left: 10px;
}
.col-md-5_ts-right ul li i {
    margin-right: 5px;
}
.col-md-5_ts-right form {
    margin-top: 15px;
}

/*3.banner*/
.banner {
    z-index: 1;
	position: relative;
	width: 100%;
	height: 120vh;
	background: url(../images/IMG_20181209_142504.jpg);
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
	margin-top: -170px;
	clip-path: polygon( 0% 0%, 100% 0%, 100% calc(100% - 5vw), 0% 100% );
}
.banner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}
h2.nameCtity {
    font-family: MarkPro;
    font-weight: 500;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
}
h3.nameCitySub {
    font-family: MarkPro;
    font-weight: 300;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -51%);
    color: #fff;
    font-size: 26px;
}

/*5_MAIN*/
/*5_1_Title*/
h2.title_block {
    position: relative;
    font-family: MarkPro;
    font-size: 30px;
    margin-bottom: 50px;
}
h4.title_products {
    line-height: 22px;
    padding: 13px;
    display: inline-block;
    margin-bottom: 0;
    color: #101315;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
}
p.product_price {
    color: red;
/*5.2_block01*/
    padding: 6px 13px;
}
.block_01 {
    margin-bottom: 40px;
    padding-top: 30px;
}
h2.title_block:before {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background: #000;
    border-radius: 50px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
p.block_01--text {
    max-width: 700px;
    margin: auto;
    font-size: 14px;
    line-height: 25px;
}

/*5.3_Block02*/
.block_02 {
    padding-top: 100px;
    background: #f3f0eb;
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 100%);
    padding-bottom: 70px;
}
.flexBox-cust {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.product_box {
    margin-bottom: 30px;
}
.product_box-border {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgba(255,255,255,.6);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, transform 200ms ease;
    transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
    text-decoration: none;
}
.product_box-border:hover {
    box-shadow: rgba(0, 0, 0, .025) 0px 0px 0px 1px, rgba(0, 0, 0, .09) 0px 5px 23px 0px;
    -webkit-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
}

/*5.4_Block03*/
.block_03 {
    background: rgba(36,29,28,.8);
    padding: 100px 0 100px 0;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 100%);
    margin-top: -35px;
}
.quotesBox {
    max-width: 900px;
    margin: auto;
}
blockquote {
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    margin-top: 50px !important;
    color: #f3f0eb;
    font-size: 16px;
    line-height: 25px;
}
blockquote p:before { 
    content: open-quote;
    font-weight: bold;
} 
blockquote p:after { 
    content: close-quote;
    font-weight: bold;
}
blockquote footer {
    color: #fff;
    font-size: 20px;
}
.quotesBox li:first-child {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}
.quotesBox li:last-child {
    padding-left: 30px;
}

/*5.5_Block04*/
.block_04 {
    padding-top: 100px;
    padding-bottom: 50px;
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 100%);
    margin-top: -52px;
    z-index: 10;
    background: #fff;
}
.title_news {
    margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /*(2 dòng)*/
  -webkit-box-orient: vertical;
}
/*5.6_Footer*/
.footer {
    position: relative;
    background: url(../images/IMG_20181209_141114.jpg);
	background-attachment: fixed;
	background-position: center;
    background-size: scroll;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 100%);
    color: #fff;
    padding-top: 100px;
    padding-bottom: 70px;
}
.footer:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}
.footer-left--text1 {
    font-size: 16px;
    font-weight: 400;margin-bottom: 20px;
}
.footer-left--text2 {
    margin-bottom: 15px;
}
.footer-left--info b {
    display: block;
    float: left;
    width: 80px;
}
.footer .title_block:before {
    background: #fff;
}
.footer-right input {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    background: none;
    border: 1px solid rgba(218, 218, 218, 0.67);
}
.footer-right textarea {
    width: 100%;
    padding: 10px;
    background: none;
    border: 1px solid rgba(218, 218, 218, 0.67);
}
.footer-right button {
    width: 150px;
    height: 40px;
    background: #372d2b;
    color: #fff;
    border: 2px solid #372d2b;
    font-size: 18px;
    transition: all .2s;
}
.footer-right button:hover {
    background: none;
}

/*-----Product-----*/
h2.title_page:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/IMG_20181209_142207.jpg);
    background-size: cover;
    background-position: 100% 48%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    z-index: -1
}
h2.title_page {
    position: relative;
    margin-top: 30px;
    color: #f2f2f2;
    padding: 30px 15px;
    font-size: 35px;
    margin-bottom: 50px;
}
.page_titleBlock {
    font-size: 25px;
    margin-bottom: 20px;
}
.product .viewMore {
    margin-bottom: 30px;
}
form.searchForm input {
    width: 80px;
    padding-right: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #ccc;
}
form.searchForm button {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #ccc;
}

/*-----Product_detail-----*/
.product_detail {
    margin-top: 30px;
}
.product_detail--left img {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, .025) 0px 0px 0px 1px, rgba(0, 0, 0, .09) 0px 5px 23px 0px;
    -webkit-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
}
h1.prDetail-title {
    font-size: 30px;
}
p.proDetail-price {
    font-size: 16px;
    color: red;
}
p.proDetail-amount {
    margin-top: 10px;
}
p.proDetail-amount input {
    height: 35px;
    width: 30px;
    padding: 0 10px;
}
a.btn_cust {
    display: block;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #000;
    color: #fff;
    margin-top: 15px;
    border: 2px solid #000;
    transition: all .2s;
}
a.btn_cust:hover {
    opacity: .7;
}
h2.title_ctsp {
    border-bottom: 2px solid #000;
    margin-top: 30px;
    margin-bottom: 20px;
}
h2.title_ctsp span {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
}
.proDetail_body {
    position: relative;
    width: 100%;
    float: left;
}
.proDetail_body img {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*-----Cart-----*/
.cart_img {
    width: 150px;
}
.clred {
    color: red;
}

/*----News-----*/
h4.title_news {
    margin-bottom: 15px;
}
.new_left >ul >li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.new_left >ul >li:last-child {
    border: 0;
}
.twoRow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /*(2 dòng)*/
  -webkit-box-orient: vertical;
}
.list_hot >div >ul >li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.list_hot >div >ul >li:last-child {
    border-bottom: 0;
}